#Ignore metafiles
.*
!.gitignore
!.circleci
!.input
!.dockerignore
!.gitchangelog.rc
!.changelog.tpl

#Ignore python reources
__pycache__
*.py[cod]
*$py.class
/build/
/dist/
*.egg-*/
eggs/
*.egg
sdist/
wheels/

